:root {
  color-scheme: light;
}

body {
  margin: 0;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: #f3f4f6; /* açık gri arka plan */
  color: #111827; /* koyu metin */
}

/* Başlık hiyerarşisi */
h1 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0 0 8px 0;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 0 6px 0;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0 0 4px 0;
}

/* Genel text */
p,
span,
button,
input,
label {
  font-size: 0.9rem;
}

button {
  font-family: inherit;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
